<h1>Formulario</h1>
<form (ngSubmit)="onRegistrer()" #myForm="ngForm">
<div class="input-group">
  <label for="name">Name
  </label>
  <input type="text" name="name" required id="name" [(ngModel)]="register.name">
  <p>Mensajes de error</p>
</div>
<div class="input-group">
  <label for="email">Email
  </label>
  <input type="email" name="email" required id="email" [(ngModel)]="register.email">
  <p>Mensajes de error</p>
</div>
<div class="input-group">
  <label for="password">password
  </label>
  <input type="password" name="password" required id="password" [(ngModel)]="register.password">
  <p>Mensajes de error</p>
</div>
<button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>
<hr/>


<h1>NgClass y NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error" [ngClass]="{
  'valid': nameInput4.valid,
  'invalid': nameInput4.invalid
}"/>
<p class="message-error" [class.invalid]="nameInput2.invalid">
  el campo es requerido
</p>

<div class="styles">
  <div>

<input type="number" [(ngModel)]="box.height" />
<input type="number" [(ngModel)]="box.width" />
<input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color' : box.background,
      'display': 'block'

    }"></div>
  </div>
</div>

<hr/>
<h1>class & style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  el campo es requerido
</p>
<label> Nombre </label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic': 'normal'">text text text</p>

<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [src]="person.avatar" [style.width.px]="widthImg" alt="image" >
  </div>
</div>
<hr/>

<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'carlos'">
    la persona es carlos
  </p>
  <p *ngSwitchCase="'nicolas'">
    la persona es nicolas
  </p>
  <p *ngSwitchCase="'santiago'">
    la persona es santiago
  </p>
  <p *ngSwitchDefault>
    No hace match
  </p>
</div>

<!-- <p *ngIf=" person.name === 'carlos'">
  la persona es carlos
</p>
<p *ngIf=" person.name === 'nicolas'">
  la persona es nicolas
</p>
<p *ngIf=" person.name === 'santiago'">
  la persona es santiago
</p> -->
<hr />
<h1>*ngFor objects</h1>
<div class="products--grid">
  <div *ngFor=" let product of products">
    <img  [src]="product.image" alt="image">
    <h2>{{product.price}}</h2>
    <p>{{product.name}}</p>
  </div>
</div>
<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add Name</button>
<ul>
  <li *ngIf="names.length === 0"> No hay Nombres </li>
  <li *ngFor="let name of names; index as i ">
    {{i}} {{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>
<hr />
<h1>ngIF</h1>
<input type="text" [(ngModel)]="person.name" (keyup)="changeName($event)" />
<p *ngIf="person.name == 'nicolas' ">soy Nico</p>
<p *ngIf="person.name == 'julian' && person.age === 18 ; else myBlock">soy juli</p>
<ng-template #myBlock>
  <p>Bloque else</p>
</ng-template>

<hr />
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" #nameInput="ngModel" [(ngModel)]="person.name" (keyup)="changeName($event)" />
<p>valid: {{nameInput.valid}}</p>
<p>Age {{person.age}}</p>
<input type="number" max="18" min="10" #ageInput="ngModel" [(ngModel)]="person.age" (keyup)="changeName($event)" />
<p>valid: {{ageInput.valid}}</p>
<hr />
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()"> Toggle Button</button>
<p>{{person.age}}</p>
<button (click)="increaseAge()"> Age++ </button>
<button (click)="reduceAge()"> Age-- </button>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur eum dolore quasi ipsum nesciunt nobis culpa
    fuga vero officiis cumque, dicta soluta similique veritatis voluptate voluptatem dolores molestias quod nam.</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<p>Nombre {{person.name}}</p>
<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" />
<hr />

<h1>Hola mundo</h1>
<h2>{{ 'Hola Mundo'.repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img width="100"src={{img}} alt="image">
